.signup {
  @extend .flex-row;
  overflow-x: hidden;
  min-height: 100vh;
  > div {
    width: 50%;
  }
  &__left {
    @extend .flex-column;
    position: relative;
    .logo-container {
      padding: 24px 40px 24px 40px;
      position: fixed;
      background-color: $black;
      width: 47%;
      z-index: 100;
    }
  }
}
