.main {
  @extend .flex-column;
  padding: 64px 80px 64px 80px;
  margin-top: 92px;
  gap: $size-32;
  z-index: 50;
  transition: height 0.7s ease-in-out;

  > header {
    @extend .flex-column;
    gap: $size-12;
    > h6 {
      @extend .text36Line44Semibold;
    }
    > p {
      @extend .b2-400;
      color: $light-gray-300;
    }
  }
  .inner {
    @extend .flex-column;
    gap: $size-20;
    transition: height 0.7s ease-in-out;
  }
}
