.signup__right {
  box-shadow: -20px 0 30px rgba(255, 255, 255, 0.1);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;

  &-inner {
    @extend .flex-center-both;
    background-color: #f3f3f3;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    height: 100%;
    box-shadow: -20px 0 30px rgba(255, 255, 255, 0.1);
    position: relative;

    > img {
      width: 100% !important;
      height: 70%;
      object-fit: contain;
      margin-top: -100px;
      animation: subtle-wobble 4s ease-in-out infinite;
      transform-origin: center center;
    }
    .content-blur {
      @extend .flex-center-both;
      width: 100%;
      height: 100dvh;
      max-height: 100dvh;
      position: absolute;
      inset: 0;
      &__inner {
        @extend .flex-center-both;
        @extend .flex-column;
        position: absolute;
        width: 80%;
        min-height: 50dvh;
        border-radius: 60px;
        background: rgba(17, 17, 17, 0.6);
        backdrop-filter: blur(40px);
        top: 50%;
        transform: translateY(-50%);
        padding: 40px 0;
        gap: 64px;
        .content-details {
          > h6 {
            @extend .text36Line44Semibold;
            text-align: center;
          }
          > p {
            @extend .sh2-400;
            color: $light-gray-25;
            text-align: center;
          }
        }
        .first-btn {
          width: 100%;
        }
        .first-btn,
        .second-btn {
          justify-content: flex-start;
          &.active-stage {
            background-color: $white;
          }
          &:not(.active-stage) {
            background: $light-black;
            color: $white;
          }
        }

        // .second-btn {
        //   background: $light-black;
        //   color: $white;
        // }
        .step-indicator-1,
        .step-indicator-2 {
          @extend .flex-center-both;
          width: $size-24;
          height: $size-24;
          min-width: $size-24;
          min-height: $size-24;
          border-radius: 50%;
          color: $white;
          font-family: $cg;
          font-weight: 500;
          font-size: $size-16;
          line-height: $size-24;
          margin-right: 4px;
        }
        .step-indicator-1 {
          background-color: $black;
        }
        .step-indicator-2 {
          background-color: $dark-gray-300;
        }
      }
    }
  }
}

@keyframes subtle-wobble {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(-1deg);
  }
  50% {
    transform: scale(0.98) rotate(1deg);
  }
  75% {
    transform: scale(1.2) rotate(-0.5deg);
  }
}
