@import "./variables.scss";
@import "../components/Input/Input.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  background: $black;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background: $black;
  font-family: var(--font-general-sans);
  color: $white;
}

h1,
h2,
h3 {
  font-family: var(--font-clash-grotesk);
}

.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}

.half-width-container {
  display: flex;
  flex-wrap: wrap;
  > * {
    width: 50%;
    box-sizing: border-box;
  }
}

.pointer {
  cursor: pointer;
  user-select: none;
}
