@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $black;
  font-family: var(--font-general-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-clash-grotesk);
}

.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}
