@import "./variables.scss";
@import "../components/Input/Input.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  background: $black;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background: $black;
  font-family: var(--font-general-sans);
  color: $white;
}

h1,
h2,
h3 {
  font-family: var(--font-clash-grotesk);
}

.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}

.half-width-container {
  display: flex;
  flex-wrap: wrap;
  > * {
    width: 50%;
    box-sizing: border-box;
  }
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.black {
  color: #111111;
}

.white {
  color: #fef9ff;
}

.light-gray-25 {
  color: #fdfdfd;
}

.light-gray-100 {
  color: #d2d2d2;
}

.light-gray-300 {
  color: #a4a4a4;
}

.light-gray-400 {
  color: #8d8d8d;
}

.dark-gray-300 {
  color: #313132;
}

.dark-gray-400 {
  color: #1a1a1b;
}

.light-black {
  color: #181818;
}

.error-500 {
  color: #f04438;
}

.error-400 {
  color: #f97066;
}
