.stardust-glow {
  @extend .flex-center-both;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(180deg, #f9f7fd 0%, #c575f9 50%, #733af8 100%);
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.44),
    0 0 40px 20px rgba(115, 58, 248, 0.5);
}
